body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  background-color: #1a202c;
}

.nav {
  display: flex;
  background-color: #6366f1;
  color: white;
}

.nav .prvinav {
  width: 80%;
  display: flex;
}

.nav .prvinav i {
  margin-top: 20px;
  margin-left: 30px;
  color: rgb(19, 61, 210);
  font-size: 24px;
  color: white;
}

.nav .prvinav ul {
  display: flex;
  margin-left: 30px;
  list-style: none;
}

.nav .prvinav ul::before {
  content: "";
  border: 1px solid grey;
}

.nav .prvinav ul i,
a {
  margin-left: 30px;
  text-decoration: none;
  list-style: none;
  color: white;
}

.nav .prvinav ul i {
  display: none;
}

.nav .btn {
  margin-top: 20px;
  background-color: #8385ff;
  width: 90px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 20px;
}

.main_section {
  display: flex;
  margin: 80px;
}

.main_section .first_section img {
  width: 720px;
  height: 600px;
}

.main_section .second_section h1 {
  color: white;
}

.main_section .second_section p {
  color: #9ca3af;
}

.main_section .second_section a {
  background-color: #6366f1;
  color: white;
  width: 90px;
  border-radius: 4px;
  padding: 5px;
  margin-left: 2px;
  margin-right: 5px;
}

.main_section .second_section .drugibtn {
  background-color: #2e3647;
}

@media screen and (max-width: 375px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav .prvinav {
    flex-direction: column;
    align-items: center;
  }

  .nav .prvinav ul::before {
    display: none;
  }
  .nav .prvinav ul li a {
    margin-left: 1px;
  }
  .nav .prvinav i,
  ul,
  li {
    margin-left: 1px;
  }

  .nav .prvinav ul a {
    display: none;
  }

  .nav .prvinav ul i {
    display: block;
    align-items: center;
    margin-right: 45px;
    margin-left: 2px;
  }

  .nav .btn {
    position: relative;
    right: 100px;
  }

  .main_section {
    flex-direction: column;
  }

  .main_section .first_section img {
    width: 250px;
    height: 300px;
  }

  .main_section .second_section {
    text-align: center;
  }
}
