body {
  margin: 0;
  padding: 0;

  font-family: "Poppins";
  background-image: url(316117.jpeg);
}

.maindiv {
  margin: auto;
  width: 50%;
  border: 1px solid #1e1f26;
  background-color: #1e1f26;
  opacity: 0.7;
}

.maindiv header {
  text-align: center;
}

.maindiv header h1 {
  color: white;
  width: 100%;
}

.maindiv header p {
  color: white;
  font-style: italic;
}

.form {
  color: white;
  padding: 20px;
}

.forma label {
  margin-left: 20px;
}

.forma input {
  width: 98%;
  border-radius: 15px;
  padding: 6px;
}

.forma select {
  width: 100%;
  border-radius: 15px;
  padding: 6px;
}

.forma .input-radio {
  width: auto;
}

.forma .input-checkbox {
  width: auto;
}

.forma .btn {
  background-color: rgb(58, 156, 58);
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 375px) {
  .forma .textarea {
    width: 98%;
  }

  .form {
    padding: 0;
  }

  .forma {
    padding-left: 10px;
    padding-right: 10px;
  }

  .maindiv {
    width: 100%;
    margin: 0;
    opacity: 0.6;
  }
}
